[Unit]
Description = Test python web server
After = network.target

[Service]
ExecStart = /usr/local/bin/server

[Install]
WantedBy = multi-user.target
